@import '../../theme/variable.module.scss';


.drawerContainer{
	padding: 10px 400px;
}
.container{
	max-width: 750px;
	margin: 0 auto;
}
.section{
	padding: 20px 0;
}
.circularProgress{
	margin-top: 300px;
	text-align: center;
}
.strikeOff{
	text-decoration: line-through;
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	.drawerContainer{
		padding: 10px 15px;
	}
	.container{
		max-width: 350px;
		margin: 0 auto;
	}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}
