@import '../../theme/variable.module.scss';


.drawerContainer{
	padding: 10px 400px;
}
.container{
	max-width: 750px;
	margin: 0 auto;
}
.section{
	padding: 20px 0;
}
.strikeOff{
	text-decoration: line-through;
}